blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
chart==0.2.3
click
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
greenlet
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
mysql-connector-python
numpy
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug